.panda-bg-info{
    background: #FEEAE9;
}
.panda-btn-buy-now{
    background: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
    border-radius: 8px;
    padding: 9px 25px;
    color: whitesmoke;
    border: none;
}